{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}

<main>
    <header>
        <h1>Destination</h1>
    </header>
    <section>
        {% if destinations is empty %}
        <p>No destinations found</p>
        {% endif %}
        {% for destination in destinations %}
            <article>
                <img src="" alt="" />
                <h4>{{destination.name}}</h4>
                <p>{{ destination.description }}</p>
                <p>
                    <a>View details</a>
                </p>
            </article>
        {% endfor %}
    </section>
</div>
{% endblock %}
